<section class="container">
    <div class="row mx-md-2 mb-4">
        <div class="col-12">
            <div class="wow fadeIn">
                <h2 class="h2-responsive font-weight-bold text-dark mt-4 mb-3 text-center">
                    Idéal pour le tourisme et l'hébergement en classe affaires
                </h2>
                <p class="text-center">
                    Notre hôtel à yamoussoukro vous offre un excellent séjour avec tout ce dont vous
                    avez besoin, que ce soit un après-midi avec la climatisation ou nos services complets
                    d'assistance aux entreprises. Notre bar à cocktails avec terrasse panoramique sur le
                    toit est l'endroit idéal pour divertir ou simplement se détendre et profiter de la maggie
                    de la ville.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <h4 class="h4-responsive text-primary font-weight-bold">Réception 24h/24</h4>
                    <p>
                        La réception de l'hôtel est disponible 24h/24 pour répondre à toutes vos questions
                        et demandes. Vous pouvez y obtenir des informations sur les activités à faire dans
                        la région, des recommandations de restaurants, des conseils de voyage et plus encore.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <h4 class="h4-responsive text-primary font-weight-bold">Service de chambre</h4>
                    <p>
                        Si vous souhaitez manger ou boire quelque chose dans le confort de votre chambre,
                        le service de chambre est à votre disposition. Vous pouvez commander des repas,
                        des boissons et des collations à tout moment de la journée.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <h4 class="h4-responsive text-primary font-weight-bold">Le restaurant</h4>
                    <p>
                        Notre restaurant propose des repas pour le petit-déjeuner, le déjeuner et le dîner,
                        avec un choix de plats à la carte ou sous forme de buffet. Il propose une variété
                        de cuisines locales et internationales.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <h4 class="h4-responsive text-primary font-weight-bold">Bar à cocktails</h4>
                    <p>
                        Détendez-vous après une longue journée de visites et laissez notre barman vous préparer
                        votre cocktail préféré.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <h4 class="h4-responsive text-primary font-weight-bold">Piscine</h4>
                    <p>
                        Notre piscine situées à l'extérieur vous offre une vue panoramique des environs.
                        Vous pouvez vous détendre, nager ou profiter d'un bain de soleil.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <h4 class="h4-responsive text-primary font-weight-bold">Centre d'affaires</h4>
                    <p>
                        L'hôtel propos des équipements de bureau, tels que des ordinateurs, des imprimantes
                        et des scanners, pour permettre aux clients de travailler à distance pendant son séjour.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <h4 class="h4-responsive text-primary font-weight-bold">Salles de réunion et de conférence</h4>
                    <p>
                        L'hôtels dispose de deux (2) salles de réunion et de conférence équipées en matériel audiovisuel,
                        pour accueillir des réunions d'affaires, des conférences ou des événements.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <h4 class="h4-responsive text-primary font-weight-bold">Parking</h4>
                    <p>
                        Nous offrons un parking privé pour nos clients qui souhaitent garer leur voiture en toute sécurité pendant leur séjour.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-body p-3">
                    <h4 class="h4-responsive text-primary font-weight-bold">Wifi gratuit</h4>
                    <p>
                        Nos clients peuvent se connecter gratuitement à Internet grâce au
                        service Wifi proposé par l'hôtel. Vous peuvent ainsi rester connectés avec
                        leurs proches ou leur travail.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
