<div class="button-navbar d-lg-none d-flex ml-auto">
    <a href="tel:{{ settings.phone }}" class="btn btn-default btn-sm phone mr-3"><i class="fas fa-phone-alt"></i></a>
    <a href="{{ path('app_login') }}" class="btn btn-primary btn-sm user mr-4"><i class="fas fa-user"></i></a>
</div>

