html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 100vh;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 600px;
    }
}

.skin-light .maintenance .content-color {
    background-color: rgba(48, 55, 55, .98) !important;
}

.skin-light .maintenance ul .btn {
    width: 3.1rem !important;
    height: 3rem !important;
    padding: 14px 0 0 0 !important;
}

.skin-light .maintenance ul .btn i {
    font-size: 1.4rem !important;
}

