.skin-light .navbar.dashboard-navbar {
    background-color: #303737 !important;
    min-height: 30px !important;
}

/*.skin-light .navbar.dashboard-navbar .nav-item .nav-item {
    overflow-x: auto;
}*/

.skin-light .navbar.dashboard-navbar .navbar-nav .nav-item {
    margin-right: 0;
    margin-left: 0;
    min-width: 170px;
    text-align: center;
}

.skin-light .navbar.dashboard-navbar .navbar-nav .nav-item.active .nav-link {
    background-color: #FF9A16;
    color: #FFFFFF !important;
}

.skin-light .navbar.dashboard-navbar .nav-item .nav-link {
    color: #ffffff !important;
    font-size: .9rem;
    font-weight: 400 !important;
    /*overflow-x: auto;*/
    padding: 12px 25px !important;
}


.skin-light .navbar.dashboard-navbar .nav-item .nav-link:hover,
.skin-light .navbar.dashboard-navbar .nav-item .nav-link:focus,
.skin-light .navbar.dashboard-navbar .nav-item .nav-link:active {
    background-color: #FF9A16;
    color: #FFFFFF !important;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}



