{% extends 'site/layout.html.twig' %}

{% block title 'Inscription' %}

{% block app_intro %}
    <section class="bc container mt-5 pt-md-4 pt-lg-5">
        <div>
            {{ breadcrumb('Inscription') }}
            {{ wo_render_breadcrumbs({ viewTemplate: '_breadcrumb.html.twig', listClass: 'breadcrumb',
                itemClass: 'breadcrumb-item', separator: '>', separatorClass: 'fas fa-angle-double-right'}) }}
        </div>
    </section>
{% endblock %}

{% block app_body %}
    {{ include('site/registration/register_content.html.twig') }}
{% endblock %}





