<div class="row app-hostel-service-view mt-3">
    <div class="col-12">
        <div class="view content-data-one"
             style="background-image: url({{ asset('images/bar.jpg') }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     border-top-right-radius: 0.3rem;
                     border-top-left-radius: 0.3rem;
                     ">
            <div class="mask rgba-black-strong">
                <div class="row my-md-5 mx-md-5 mx-1 my-4">
                    <div class="col-12">
                        <div class="row d-flex justify-content-start align-items-start">
                            <div class="col-12">
                                <div class="wow fadeIn">
                                    <h2 class="h2-responsive font-weight-bold text-white text-center mb-4">
                                       Lounge Bar
                                    </h2>
                                </div>
                                <p class="text-white text-center font-weight-stone-500">
                                    Une journée passe à visiter les sites touristiques de la ville de yamoussoukro
                                    est une façon incroyable de passer la journée, mais en meme temps, cela peut
                                    etre une experience fatigante. C'est pourquoi nous mettons a disposition de nos
                                    clients un <strong>Lounge Bar</strong>, l'endroit idéal pour se détendre et se
                                    remettre d'une longue journée. Conçu comme un espace lounge privé, le bar de l'hôtel
                                    est un l'endroit idéal pour prendre un verre préparé par notre barman ou prendre un
                                    apéritif en toute detente. Heure d'ouverture : 16H00 à 24H00.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="view content-data-two" style="background-image: url({{ asset('images/salon.jpg') }}); background-repeat: no-repeat; background-size: cover;">
            <div class="mask rgba-black-strong">
                <div class="row my-md-5 mx-md-5 mx-1 my-4">
                    <div class="col-12">
                        <div class="row d-flex justify-content-start align-items-start">
                            <div class="col-12 mx-md-4">
                                <div class="wow fadeIn">
                                    <h1 class="h2-responsive font-weight-bold text-white text-center mb-4">Le salon</h1>
                                </div>
                                <p class="text-white text-center font-weight-stone-500">
                                    Notre salon est idéal pour lire un journal ou un livre, se détendre après une
                                    journée bien remplie. Décoré dans un style classique contemporain, il dispose
                                    d'une bibliothèque et du Wi-Fi gratuit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="view content-data-three" style="
                background-image: url({{ asset('images/terrasse.jpg') }});
                background-repeat: no-repeat;
                background-size: cover;
                border-bottom-left-radius: 0.3rem;
                border-bottom-right-radius: 0.3rem;
                ">
            <div class="mask rgba-black-strong">
                <div class="row my-md-5 mx-md-5 mx-1 my-4">
                    <div class="col-12">
                        <div class="row d-flex justify-content-start align-items-start">
                            <div class="col-12 mx-md-4">
                                <div class="wow fadeIn">
                                    <h1 class="h2-responsive font-weight-bold text-white text-center mb-4">
                                        Terrasse panoramique
                                    </h1>
                                </div>
                                <p class="text-white text-center font-weight-stone-500">
                                    L'<strong>{{ settings.name }}</strong> est agrémenté d'une belle terrasse panoramique offrant une vue unique sur la ville.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

