<section class="container">
    <div class="col-12">
        <h1 class="h1-responsive text-dark font-weight-bold text-center mb-4" style="margin-top: -10px;">
            <span class="text-danger">Séjournez</span> dans un <span class="text-primary">havre de paix</span>
            au cœur de <span class="text-default">Yamoussoukro</span>
        </h1>
    </div>
</section>

{{ include('site/equipment/_home.html.twig') }}
{{ include('site/promotion/_home.html.twig') }}
{{ include('site/room/_home.html.twig') }}
{{ include('site/newsletter/_subscribe.html.twig') }}
